@media  (max-width: 768px) {

    .img-row:nth-child(2), .img-row:nth-child(3) {
        display: none;
    }

    .img-row:first-child {
        flex-flow: row wrap;
        max-width: 450px;
        min-height: 550px;
    }

    .copyright {
        position: static;
        padding-top: 30px;
    }

    footer::before, footer::after {
        display: none;
    }
}