* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Chakra Petch", sans-serif;
  font-size: 20px;
  color: #fff;
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAMAAABEpIrGAAAABlBMVEVMTExVVVUnhsEkAAAAHUlEQVR4AWOAAUYoQOePEAUj3v9oYDQ9gMBoegAAJFwCAbLaTIMAAAAASUVORK5CYII=")
    repeat;
}

.content-wrapper {
  max-width: 1200px;
  margin: auto;
}

a {
  color: #fff;
}

h1,
h2 {
  line-height: 2;
}

header {
  padding: 2% 0;
  text-align: center;
  border-bottom: 2px solid #1b1b1b;
  box-shadow: 0 0 8px #000;
  background: #17797e;

  h1 {
    font-size: 1.7em;
    font-weight: 600;
  }
}

.txt-emphasis {
  color: #421f58;
}

main {
  margin-top: 5%;
}
