* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Chakra Petch", sans-serif;
  font-size: 20px;
  color: #fff;
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAMAAABEpIrGAAAABlBMVEVMTExVVVUnhsEkAAAAHUlEQVR4AWOAAUYoQOePEAUj3v9oYDQ9gMBoegAAJFwCAbLaTIMAAAAASUVORK5CYII=")
    repeat;
}

.content-wrapper {
  max-width: 1200px;
  margin: auto;
  padding: 0 10%;
}

a {
  color: #fff;
}

h1,
h2 {
  line-height: 1.1;
}

p {
  font-size: 0.8em;
  line-height: 1.5;
}

header {
  padding: 25px 0;
  text-align: center;
  border-bottom: 2px solid #1b1b1b;
  box-shadow: 0 0 8px #000;
  background: #17797e;

  h1 {
    font-size: 1.7em;
    font-weight: 600;
  }

  h2 {
    font-size: 1.1em;
  }
}

.txt-emphasis {
  color: #421f58;
}

main {
  h3 {
    font-size: 1.3em;
  }
}

section,
aside,
footer {
  margin-top: 5%;
}

/* Examples section */

.exapmles-section {
  text-align: center;
}

.inline-block {
  display: inline-block;

  h3,
  p {
    text-align: left;
  }
}

.img-list {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  flex-wrap: wrap;
}

.img-list__item {
  position: relative;
  width: 128px;
  height: 128px;
  margin-right: 10px;
  border: 1px dashed #808080;

  img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

/* Feature section */

.feature-section {
  padding-top: 25px;
  background-color: #696969;
}

.feature-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.feature {
  width: 45%;

  @media (max-width: 1001px) {
    width: 100%;
  }
}

.feature__item {
  display: flex;
  margin-bottom: 25px;

  img {
    width: 100px;
    height: 100px;
  }
}

.feature_left {
  .feature__item {
    @media (max-width: 1001px) {
      justify-content: space-between;
    }
  }

  .feature__txt-wrapper {
    margin-right: 25px;
  }
}

.feature_right {
  img {
    margin-right: 25px;
  }
}

/* Author section */

.author-section {
  text-align: center;
}

.author {
  display: flex;
  margin-top: 20px;

  img {
    width: 170px;
  }
}

.author__contact {
  margin-left: 25px;

  li {
    display: flex;
    margin-bottom: 5px;
    align-items: center;

    a {
      text-decoration: none;
    }
  }

  div {
    margin-right: 15px;
  }
}

.author__email,
.author__telegram,
.author__github {
  width: 30px;
  height: 33px;
  background-image: url("./assets/img/sprite-contacts.png");
}

.author__email {
  background-position-y: -37px;
}

.author__telegram {
  background-position-y: -73px;
}

.author__github {
  background-position-y: -107px;
}

/* Footer */

footer {
  height: 40px;
  background-color: #292929;

  p {
    line-height: 2.5;
  }
}

/* Btn Sprite */

.btn-redirect {
  position: fixed;
  right: 40px;
  bottom: 30px;
  border: 3px solid #000;
  border-radius: 5px;
  font-size: 1em;
  font-weight: 600;
  background-color: #ffc400;

  a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    text-shadow: 0 0 5px #000;
  }
}
