* {
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 900px;
  color: #f7f7f7;
  background-color: #374848;
  font-family: sans-serif;
}

header {
  padding: 15px 0;
  border-bottom: 3px solid #ccc;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

canvas {
  background-color: #fff;
}

header h1 {
  margin-left: 29px;
}

main {
  display: flex;
  margin-top: 50px;
}

ul {
  list-style: none;
}

/* TOOLS SECTION */

.wrap_tools {
  display: flex;
  flex-grow: 2;
  justify-content: space-between;
}

/* Tools block */

.wrap_draw-panel {
  position: relative;
  left: 20px;
}

#draw-tools ul {
  width: 117px;
}

#draw-tools li {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin-bottom: 4px;
  border: 2px solid #a7a79d;
  line-height: 50px;
  background-color: #323232;
  cursor: pointer;
}

#draw-tools div {
  text-align: center;
}

/* Frames block */

.wrap_frames-block {
  height: 700px;
}

#frames-block {
  height: 100%;
  padding-right: 15px;
  overflow-y: scroll;
}

.frame-unit {
  width: 135px;
  height: 135px;
}

.add-frame {
  margin-top: 15px;
  border: 2px solid #a7a79d;
  z-index: 10;
  cursor: pointer;
  background-color: #323232;
}

.add-frame:active, .add-frame:hover {
  border: 2px solid #ffed15;
}

.add-frame p {
  padding: 10px;
  text-align: center;
}

.frames-list li {
  position: relative;
  width: 135px;
  height: 135px;
  margin-bottom: 10px;
  border: 4px solid #fff;
}

.frame-num, .frame-duplicate, .frame-delete, .frame-move {
  position: absolute;
}

.frame-num {
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 2;
  color: #000;
  background-color: #ffed15;
}

.frame-duplicate {
  top: 100px;
  left: 100px;
  width: 30px;
  height: 30px;
}

.frame-delete {
  top: 0px;
  left: 100px;
  width: 30px;
  height: 30px;
}

.frame-move {
  top: 100px;
  left: 0px;
  width: 30px;
  height: 30px;
}

/* CANVAS SECTION */

.canvas-wrapper {
  flex-grow: 3;
  text-align: center;
}

#canvas {
  border: solid 1px #ccc;
}

/* UTILS SECTION */

#utils {
  flex-grow: 1;
}

/* Preview block */

#preview-wrapper {
  width: 202px;
  background-color: #888;
}

.preview_screen {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  border: 1px solid grey;
  background-size: contain;
  background-color: #fff;
}

.preview_input-range {
  display: flex;
  justify-content: space-around;
  padding: 5px;
  font-size: 14px;
}

.fps-range {
  width: 15px;
}

.preview_input-range div {
  line-height: 2;
}

.preview_input-range input {
  cursor: pointer;
}